@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  font-family: 'Rubik', monospace;
}

/* just define some variables */
:root {
  --pad: 0.3rem;
  --border-radius: 4px;
  --hit-target: 2.5rem;
}

header {
  padding: var(--pad);
  display: grid;
  grid-template-columns: 1fr 5rem;
  grid-template-areas:
    'title         title'
    'search-query  search-button';
  grid-gap: 1rem;
}

header>h1 {
  grid-area: title;
}

header>button {
  grid-area: search-button;
  border-radius: var(--border-radius);
  border-style: none;
  height: var(--hit-target);
}

header>input#search-query {
  grid-area: search-query;
  border-style: none none dotted none;
  border-width: 2px;
  height: var(--hit-target);
  box-sizing: border-box;
}

main {
  /* magic incantations for responsive grid */
  display: grid;
  grid-template-columns: repeat(auto-fit,
    minmax(240px, 1fr));

  grid-gap: var(--pad);

  padding: var(--pad);
}

.note {
  padding: 1.5em;
  border-radius: var(--border-radius);
  border-top-style: outset;
  border-top-width: var(--border-radius);
  
  background-color: var(--note-bg-color);
  border-top-color: var(--note-rim-color);
  box-shadow: 0 2px 3px var(--note-shadow-color);
}

.note-color-red {
  --note-bg-color: rgb(247, 163, 163);
  --note-rim-color: rgb(239, 105, 105);
  --note-shadow-color: rgba(239, 105, 105,  50);
}
.note-color-black { 
  --note-bg-color: #66645d;
  --note-rim-color: #2b2a28;
}
.note-color-pink { 
  --note-bg-color: #f26fc2;
  --note-rim-color: #a53b7f;
}
.note-color-green { 
  --note-bg-color: #bdd984;
  --note-rim-color: #768c47;
}
.note-color-red { 
  --note-bg-color: #ff9184;
  --note-rim-color: #b2564b;
}
.note-color-blue { 
  --note-bg-color: #7bdff0;
  --note-rim-color: #4396a3;
}
.note-color-yellow { 
  --note-bg-color: #f8ed74;
  --note-rim-color: #aba23f;
}
